<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<h3>Страница книги</h3>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfRelease()}"></p>

<div th:if="${owner}">
    <span>Книга сейчас у:</span> <span th:text="${owner.getFullName}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" VALUE="Освободить книгу">
    </form>
</div>

<div th:if="${people}">
    <p>Эта книга свободна. Кому назначить её?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>

<hr>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>